<mat-card class="login-card">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitLogin(loginForm.value)"
    class="login-card-form">
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your email"
        formControlName="email">
      <mat-error *ngIf="loginForm.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password">
      <mat-icon
        matSuffix
        (click)="hide = !hide">
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid">
      Submit
    </button>

  </form>

</mat-card>
