@import 'variables';

@mixin text-ellipsis-vertical($line-number) {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-number;
}

@mixin center-vh() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/*
Mixins which follow Linalis V2 conventions:

These follow a "mobile-first" strategy, where the smallest phone offers the
standard styles, and larger devices progressively alter the layout.
This means that @mixin "tablet" means "these styles apply to 'tablet' and above"
*/

/* Standard "Applies to this device and up" media queries */

@mixin landscape {
  @media (min-width: $landscape) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: $tablet-desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin wide-desktop {
  @media (min-width: $wide-desktop) {
    @content;
  }
}

/* Rules which apply to "this device and down only" */

@mixin phone-down {
  @media (max-width: $landscape) {
    @content;
  }
}

@mixin landscape-down {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $desktop) {
    @content;
  }
}

/* Rules which apply to "this device only" */

@mixin landscape-only {
  @media (min-width: $landscape) and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $desktop) {
    @content;
  }
}
