
/*
* colors
*/
$gray-slate: #3A3934 !default; // grey-900
$red-color: #BA2626 !default; //red-800
$mercury-gray-color: #E6E6E6 !default; // grey-200
$petrol-blue-color: #203B4C !default; //blue-grey-900
$drapped-blue-color: #D7E2E6 !default; //blue-grey-50
$olive-green-color: #B3BF2D !default; //lime-600
$turquoise-blue-color: #49D4FF !default; //light-blue-A200
$body-bg: #ebeff1 !default;


/**
 Typography
*/
//$base-font-family: 'droid-regular', ';
$roboto-regular-font-family: 'Roboto Regular', 'Helvetica Neue', sans-serif !default;
$base-font-family: 'Droid Regular', 'Helvetica Neue', sans-serif !default;
$base-font-size: 16px;
$base-line-height: 1.2;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;

$text-font-color: #333;

/*
 Image folder path
*/
$images-folder: '/assets/img/';
$fonts-folder: '/assets/fonts/';

/*
  Breakpoint crossovers.
 These are labelled to roughly match the minimum pixel width of devices.
*/
$phone: 320px; /* A phone held in portrait */
$landscape: 500px; /* A phone held in landscape orientation */
$tablet: 768px; /* A tablet device held in portrait */
$tablet-desktop: 900px; /* A fuzzy area to represent a tablet held in landscape, or small desktop. Not a commonly needed breakpoint, generally used to squeeze in elements in tight layouts */
$desktop: 1024px; /* Generally applies to desktop and above, or large tablets held in landscape */
$wide-desktop: 1600px;
