<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>CPI - DEMO book</span>

    <span class="nav-spacer"></span>

    <span *ngIf="userName$ | async">Hello {{ userName$ | async }}</span>
    <button
      *ngIf="userName$ | async"
      (click)="onLogout()"
      mat-button>
      Logout
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
