@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;

  &-card {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 20px;

    @include tablet() {
      max-width: calc(100% / 3 - 88px); // take margins
    }
  }

  &-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    flex: 1 1 100%;
    max-width: 100%;

    &-input {
      width: 60%;
    }

  }

  .progress-spinner {
    width: 100%;
    margin: auto;
  }

}
