<section class="books">

  <mat-card class="books-search">
    <mat-form-field class="books-search-input">
      <input
        matInput
        (keyup)="search($event.target.value)"
        placeholder="Search the book by name">
    </mat-form-field>
  </mat-card>

  <mat-card
    class="books-card"
    *ngFor="let item of books">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.year}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-progress-spinner
    *ngIf="!books"
    class="progress-spinner"
    [color]="'primary'"
    [mode]="'indeterminate'">
  </mat-progress-spinner>

</section>
